body {
  font-family: system-ui, sans-serif;
  background:#f5f7f8;
}

.tweet-list{
  background-color: #fff;
  border: 1px solid #cfd9de;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  gap: 12px;
  max-width: 600px;
}

.thumbnail{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.content{
  flex:1;
}

.header{
  display: flex;
  align-items: center;
  gap: 6px;
}

.name{
  font-weight: 700;
  color:#000;
}

.handle,.date{
  color:#71767b;
}

.dot{
  color:#71767b;
}

.text{
  margin: 6px 0 10px;
  font-size: 15px;
}

.actions{
  display:flex;
  gap:40px;
  color:#71767b;
  font-size:14px;
}
