body {
  font-family: sans-serif;
}
.tweet-list{
  background-color: #fff;
  border-color: #cfd9de;
  border-width: 1px;
  border-radius: 16px;
  padding: 12px;
}
.thumbnail{
  size: 48px;
  border-radius: 50%;
}
.details{
  display: flex;
}
.name{
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.metadata{
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
}
p::after {
  content: "\00B7";
}

